[data-tag^="NYTCrosswordData"] {
  display: none !important;
}

[data-tag^="NYTCrosswordData"]+.rm-highlight {
  display: none !important;
}

.crosswordGrid {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  max-width: 600px;
}

.crossword.grid {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
}

.crossword.grid > div {
  padding: 10px !important;
  position: relative !important;
  background: black !important;
}

.correct {
  text-decoration-line: line-through;
} 